:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #2196f3;

  --black-text: #212121;
  --grey-text: #757575;
  --grey-text-op60: rgba(255, 255, 255, 0.6);

  --icon-color: #afb1b8;

  --background-dark: #2f303a;
  --background-light: #f5f4fa;

  --border-color-header: #ececec;
  --border-color-project: #eeeeee;

  --animation-time: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black-text);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1 {
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

p {
  font-weight: 400;
  color: var(--grey-text);
}

img {
  display: block;
  max-width: 100%;
}

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color-header);
}

footer {
  background-color: var(--background-dark);
  color: var(--white);

  padding-top: 60px;
  padding-bottom: 60px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

section {
  padding: 94px 0;
}

/* Стилі для лого */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--accent);
}

.logo-white {
  color: var(--white);
}

.logo-black {
  color: var(--black);
}

/* Стилі загальних контейнерів */

.container {
  width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Стилі для хедера */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
.header-nav {
  align-items: center;
}

.header-nav {
  display: flex;
}

.list-nav {
  display: flex;
  margin-left: 93px;
}

.list-nav li {
  margin-right: 50px;
}

.list-nav li:last-child {
  margin-right: 0px;
}

.list-nav .current {
  color: var(--accent);
}

.header-nav .logo {
  padding: 24px 0 25px;
}

.header-nav li a {
  display: inline-block;
  padding: 32px 0px;
  text-decoration: none;
  color: inherit;

  transition: color var(--animation-time) var(--animation-function);
}

.header-nav li a:hover,
.header-nav li a:focus,
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent);
}

.header-nav li {
  position: relative;
}

.header-nav li a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--accent);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--animation-time) var(--animation-function);
}

.header-nav .current::after {
  opacity: 1;
}

.header-nav li a:hover::after,
.header-nav li a:focus::after {
  opacity: 1;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts a {
  display: flex;
  padding: 17px 0px;
  text-decoration: none;
  color: var(--grey-text);
  align-items: center;

  transition: color var(--animation-time) var(--animation-function);
}

.header-contacts li:not(:last-child) {
  margin-right: 50px;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Стилі для іконок соціальних мереж */

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);

  transition: background-color var(--animation-time) var(--animation-function),
    fill var(--animation-time) var(--animation-function);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: inherit;
}

.social-link:hover,
.social-link:focus,
.join .social-link:hover,
.join .social-link:focus {
  background-color: var(--accent);
  fill: var(--white);
}

/* Стилі Футера */

footer address {
  margin-top: 20px;
}

footer address ul {
  margin-top: 9px;
}

footer address ul :not(:first-child) {
  margin-top: 9px;
}

footer .container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  text-decoration: none;
  color: var(--grey-text-op60);
}

.join {
  margin-left: 86px;
}

.join p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.join ul {
  display: flex;
}

.join ul :not(:last-child) {
  margin-right: 10px;
}

.join .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
}

/* Стилі для блоку футера "Підписка" */

.subscription {
  margin-left: 93px;
}

.subscription p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.subscription-input {
  width: 351px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  color: var(--white);
}

.subscription-button {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  cursor: pointer;
  margin-left: 12px;

  text-align: center;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--animation-time) var(--animation-function);
}

.subscription-button:focus,
.subscription-button:hover {
  background-color: #188ce8;
}

.subscription-icon {
  margin-left: 10px;
}

/* BackDrop */

.service-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--animation-time) var(--animation-function);
}

.service-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Стилі модального вікна */

.service-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white);

  transition: transform var(--animation-time) var(--animation-function);
}

.service-backdrop.is-hidden .service-modal {
  transform: translateX(-50%) translateY(-50%) scale(0.5);
}

/* Стилі кнопки "Закрити" модального вікна */

.servise-button {
  position: absolute;
  top: 8px;
  right: 8px;

  background-color: var(--white);
  fill: var(--black);
  background-origin: border-box;

  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  transition: fill var(--animation-time) var(--animation-function);
}

.servise-button-icon {
  position: absolute;
  top: -1px;
  left: -1px;
  fill: inherit;
}

.servise-button:hover,
.servise-button:focus {
  fill: var(--accent);
}

/* Стилі форми */

.servise-form {
  display: flex;
  flex-direction: column;
}

.servise-form p {
  color: var(--black-text);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-fild {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--grey-text);

  display: inline-block;
  margin-bottom: 4px;
}

.form-input {
  position: relative;
}

.form-input input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--animation-time) var(--animation-function);
}

.form-input input:focus,
.form-input input:hover {
  border-color: var(--accent);
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill var(--animation-time) var(--animation-function);
}

.form-input input:focus + .input-icon,
.form-input input:hover + .input-icon {
  fill: var(--accent);
}

.form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea-fild {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  transition: border-color var(--animation-time) var(--animation-function);
}

.textarea-fild:focus,
.textarea-fild:hover {
  border-color: var(--accent);
  outline: none;
}

.textarea-fild::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-label {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.submit-square {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--black-text);
  border-radius: 2px;
  opacity: 1;
  transition: opacity var(--animation-time) var(--animation-function);
}

.submit-checkbox:checked ~ .submit-square {
  opacity: 0;
}

.submit-checkbox:checked + .submit-icon {
  opacity: 1;
}

.submit-icon {
  position: absolute;
  opacity: 0;
  transition: opacity var(--animation-time) var(--animation-function);
}

.submit-contract {
  font-size: 14px;
  line-height: 1.714;
  color: var(--grey-text);
}

.submit-contract a {
  color: var(--accent);
}

.submit-button {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  text-align: center;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  transition: background-color var(--animation-time) var(--animation-function);
}

.submit-button:focus,
.submit-button:hover {
  background-color: #188ce8;
}

/* Додаткові стилі */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
