.benefits,
.activity,
.team,
.button-list,
.projects {
  display: flex;
}

/* Секція героя */

.section-hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-dark);
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero h1 {
  width: 700px;
  display: inline-block;
}

.section-hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-hero {
  background-color: var(--accent);
  color: var(--white);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-top: 30px;
}

/* Наші переваги */

.section-benefits {
  padding-bottom: 0;
}

.benefits {
  flex-wrap: wrap;
  margin-left: -30px;
}

.benefits h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits p {
  font-size: 14px;
  line-height: 1.71;
}

.benefits-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.benefits-img {
  width: 270px;
  height: 120px;
  background-color: var(--background-light);
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

/* Наша діяльність */

.container > h2 {
  text-align: center;
  margin-bottom: 50px;
}

.activity {
  justify-content: space-between;
}

.activity-thumb {
  position: relative;
}

.activity-description {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.activity-description p {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Наша команда */

.section-team {
  background-color: var(--background-light);
}

.team {
  flex-wrap: wrap;
  margin-left: -30px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-item {
  background-color: var(--white);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item ul {
  display: flex;
}

.team-description {
  text-align: center;
  padding: 30px 32px;
}

.team-description ul :not(:last-child) {
  margin-right: 10px;
}

/* Наші клієнти */

.client {
  display: flex;
}

.client li:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  justify-content: center;
  align-items: center;

  transition: fill var(--animation-time) var(--animation-function);
}

.client-icon {
  fill: inherit;
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent);
  border: 1px solid var(--accent);
}

/* Кнопки портфоліо */

.button-portfolio {
  background-color: var(--background-light);
  color: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: background-color var(--animation-time) var(--animation-function),
    color var(--animation-time) var(--animation-function),
    box-shadow var(--animation-time) var(--animation-function);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent);
  color: var(--white);
  border-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  justify-content: center;
  margin-bottom: 50px;
}

.button-list li {
  margin-right: 8px;
}

.button-list :last-child {
  margin-right: 0px;
}

/* Проекти портфоліо */

.projects h2 {
  color: var(--black-text);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects p {
  font-size: 16px;
  line-height: 1.87;
}

.projects a {
  text-decoration: none;
  display: block;

  transition: box-shadow var(--animation-time) var(--animation-function);
}

.projects a:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects {
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform var(--animation-time) var(--animation-function);
}

.project-item:hover .project-overlay {
  transform: translateY(0);
}

.project-overlay p {
  color: var(--white);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project-description {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color-project);
  border-left: 1px solid var(--border-color-project);
  border-right: 1px solid var(--border-color-project);
}

.project-description p {
  margin-top: 4px;
}
